.table-container {
  overflow-x: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.addButton {
  padding-left: 20px;
  padding-right: 20px;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.responsive-table th,
.responsive-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.responsive-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.even-row {
  background-color: #f9f9f9;
}

.odd-row {
  background-color: #ffffff;
}
.action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
